.detail-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(100, 148, 237, 0.584);
  width: 70%;
  margin: 10px;
  padding: 10px;
  border: 5px solid #000;
  border-radius: 15px;
  background-color: rgba(140, 234, 234, 0.596);
}

.detail-title {
  color: #000;
  margin: 10px;
  text-transform: capitalize;
}
.detail-descrip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-img {
  width: 40%;
  border-radius: 10%;
  margin: 10px;
}
.info-container {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
}

.info {
  margin: 5px;
  padding: 5px;
  font-size: medium;
  color: #000;
}
.item-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
